.wrapper{
    margin: 10px;    background-color: #dfdfdf;

      display: flex;
      flex-direction: column;
      min-width: 300px;
    
}
.content {
    width: 100%;
    height: 100vh;
    direction: rtl;
    display: flex;
    flex-direction: column;
    min-width: 300px;

  }
  .container {
    right: 30px;
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
